/bin
/build
/buildrel
/lib
/doc/docbook/htmlhelp
/setup/win32/*.exe
/locale/*.mo
/locale/*.dir
/locale/pt_BR
/deps/wx/locale/*.mo
/setup/win64/*.exe
/setup/ubuntu/build
/setup/ubuntu/*.deb
/setup/rpi/build
/setup/rpi/*.deb

